@media screen and (min-width: 600px) {
    
    /*header/nav bar styles*/
    header {
        font-size: 1.5em;
    }
    nav button {
        display: none;
    }
    nav ul {
        display: flex;
        flex-flow: row wrap;
    }   
    nav ul.hide {
        display: flex;
        flex-flow: row wrap;
    }
    
}

@media screen and (min-width: 755px) {
    main {
        margin: 0px 100px;
    }
    /* header img {
        height: 200px;
    } */
}

@media screen and (min-width: 950px) {
    li a {
        ;
    }
}

/* Clearfix: Force and Element not to collapse*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}