body {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif Pro', serif;
}

/* Header styles*/

header {
    background-color: #def3fd;
    display: flex;
}

header h1 {
    font-size: .91em;
    padding: 15px 0px;
    
}

header img {
    height: 75px;
    
    margin: 15px;
}

/* Nav bar styles*/

nav ul {
    list-style-type: none;
    font-size: .9em;
    margin: 0;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
}

nav ul.hide {
    display: none;
}

nav a:hover {
    text-decoration: underline;
}

li a {
    display: flex;
    padding: 40px 10px;
}

li a.current-page {
    background-color: #ffffff;
}

/*main styles*/

main {
    padding: 0px;
}

.fullwidth {
    width: 100%;
    align-items: center;
 }  

.action-call {
    text-align: center;
    font-size: 1.75em;
}


/*footer styles*/

footer {
    background-color: #def3fd;
    color: black;
    margin: .5em;
    padding: 5px;
    justify-content: space-between;
}    

/* Clearfix: Force and Element not to collapse*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* for small exceptions, stuff I want ONLY on a small view */
