body {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif; 
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif Pro', serif;
}

/* Header styles*/

header {
    background-color: #def3fd;
    text-align: left;
    align-items: center;
    height: 10px;
    padding: 10px;
    font-size: .8em;
}

header img {
    height: 75px;
    float: left;
}

header h1 {
    margin-left: 10px;
    float: left;
}

/* Nav bar styles*/

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none; 
    font-size: 2.25em;
    float: right;
}

nav {
    background-color: #def3fd;
}

nav h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    /* padding: 0; */
    font-size: 1.5em;
    float: right;
}

nav ul.hide {
    display: none;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
}


nav a:hover {
    text-decoration: underline;
}

li {
    padding: 10px 0px;
}


.serviceSub {
    display: inline;
}

li a.current-page {
    background-color: #ffffff;
    height: 110%;
}

/*main styles*/

main {
    padding: 5px;
}

.page-heading {
    text-align: center;
    font-size: 1.75em;
}

h3 a {
    color: black;
    text-decoration: none;
}

figure {
    margin: 0;
}

.hero-image {
    width: 100%;

}

.banner {
    position: relative;
  }
  
.weather-summary {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(222, 253, 224, 0.7);
    padding-left: 10px;
    padding-right: 10px;
    }
.weather-summary > p {
    margin: 10px 0px;
}

/* 5 day forecast styles*/

.five-day-forecast {
    text-align: center;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    margin: auto;
}

th {
    background-color: #defde0;
    color: #ffffff;
}

td {
    vertical-align: bottom;
}

.forecast-image {
    width: 75px;
}

#sunglasses {
    margin-bottom: 1em;
}

/*gallery styles*/
.grid {
    display: grid;
    grid-gap: 15px;
}

figure img {
    width: 100%;
}

/*footer styles*/

footer {
    background-color: #def3fd;
    color: black;
    margin: .5em;
    padding: 5px;
    justify-content: space-between;
}    

#map {
    height: 20em;
    width: 99%;
    
}
/* Clearfix: Force and Element not to collapse*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* for small exceptions, stuff I want ONLY on a small view */

@media screen and (max-width: 600px) {
    .five-day-forecast {
        display: none
    }
    .grid {
        grid-template-columns: 1fr;
    }
        
}