/* .odd-row, .even-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.even-row {
    background-color: #defde0;
    padding: 5px;
}

.temple-info {
    width: 60%;
    flex: 3 0 15em;
    margin: .5em;
}

.temple-image {
    width: 30%;
    flex: 1 0 15em;
    margin: .5em;
} */

/* main {
    margin: auto;
} */

main>section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    justify-content: center;
    padding: 10px;
}

main>section.even-row {
    background-color: #defde0;
}

.temple-image {
    place-self: center;
    margin: 10px;
}

.even-row>.temple-image img {
    box-shadow: -7px -7px 10px rgba(0, 0, 0, 0.5);
}

.odd-row>.temple-image img {
    box-shadow: 7px -7px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 800px) {
    main>section {
        display: block;
    }
    .even-row>.temple-image img {
        box-shadow: 7px -7px 10px rgba(0, 0, 0, 0.5);
        
    }
    .temple-image img {
        width: 99%;
        
    }
}