body {
    background-color: #f2eee2;
    font-family: 'Open Sans', sans-serif;
}

header {
	margin: 10px auto;
	background-color: #43c0f6;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
}

header img, h1 {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

h1 {
    font-family: 'Vidaloka', serif;
}