body {
    background-color: #f2eee2;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin: 10px auto;
    background-color: #43c0f6;
    border: 1px solid #bbb;
    box-shadow: 0 0 30px #777;
    padding: 50px;
    text-align: center;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.motto {
    
    vertical-align: middle;
    margin: 10px;
    text-align: center;
}

header img {
    max-height: 200px;
    /*float: left;*/
    position: relative;
    width: 110px;
    margin: .5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vidaloka', serif;
}

nav {
    background-color: #F5ce28;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: -4.5em;
    padding-left: 1em;
}

nav h2 {
    font-size: 1.2em;
    padding-top: 1em;
}

/*#hamburger-menu {
    padding-top: 3.2em;
    margin-top: 3em;
}*/

/*nav a {
    color: black;
    font-size: 1.1em;
    padding: 1em .6em;
}*/

nav a:link {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.current-page {
    background-color: #c4a420;
}

nav ul {
    list-style-type: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F5ce28;
}

p {
    margin: 10px;
    max-width: 650px;
}

/* for small exceptions, stuff I want ONLY on a small view */

@media screen and (max-width: 600px) {}