body {
    background-color: #f2eee2;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin: 10px auto;
    background-color: #43c0f6;
    border: 1px solid #bbb;
    box-shadow: 0 0 30px #777;
    padding: 50px;
    text-align: center;
}

header img, h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vidaloka', serif;
}

nav {
    background-color: #F5ce28;
    font-size: 1.2em;
    line-height: 3em;
    margin-top: -4.5em;
    padding-left: 6em;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    background-color: #c4a420;
    text-decoration: none;
}

nav a:active {
    background-color: #c4a420;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 10px;
    max-width: 650px;
    
}
nav ul {
    list-style-type: none;
}

/* for small exceptions, stuff I want ONLY on a small view */
    @media screen and (max-width: 600px) {}