@media screen and (min-width: 600px) {
    /*header styles 640, 570*/
    /*nav bar styles*/
   nav button {
        display: none;
    }
    nav ul.hide{
        display: block;
    }
    nav ul li{
        /*display: flex;
        flex-wrap: wrap;*/
        float: left;
    }
}

@media screen and (min-width: 755px) {
    header img {
        height: 200px;
    }
}

@media screen and (min-width: 600px) {
    header {
        font-size: 1.5em;
    }

    .town-name {
        font-size: 2.3em;
    }    
}

/* Clearfix: Force and Element not to collapse*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}